/* Booking Engine Div */
header#primary nav div.bookingengine { background-color: #000; display: block; left: 130px; opacity: 0; position: absolute; text-align: left; top: 24px; visibility: hidden; width: 330px; z-index: 15; }
header#primary nav div.bookingengine input[type="text"] { background-color: #000; border: 1px solid #40422C; color: #ABA583; padding: 2px 5px; }
header#primary nav div.bookingengine input[type="text"].date { width: 105px; }
header#primary nav div.bookingengine input[type="text"].number { width: 10px; }
header#primary nav div.bookingengine div.section { border-bottom: 2px dotted #5B5C4E; margin: 0px auto; padding: 5px 0px; width: 90%; }
header#primary nav div.bookingengine div.section:last-child { border-bottom: none; }
header#primary nav div.bookingengine div.section span { color: #9A9B96; display: inline-block; height: 22px; font-size: 12px; padding: 0px 5px; vertical-align: middle; }
header#primary nav div.bookingengine div.section span a:link { color: #ABA583; padding: 0px; text-decoration: underline; text-transform: none; }
header#primary nav div.bookingengine div.section span a:visited { color: #ABA583; padding: 0px; text-decoration: underline; text-transform: none; }
header#primary nav div.bookingengine div.section span.closer { float: right; }
header#primary nav div.bookingengine div.section span.closer a:link { color: #807853; font-weight: bold; text-decoration: none; }
header#primary nav div.bookingengine div.section span.closer a:visited { color: #807853; font-weight: bold; text-decoration: none; }
header#primary nav div.bookingengine div.section div.more_options { height: 0px; padding: 5px 0px 0px 0px; overflow: hidden; }
header#primary nav div.bookingengine div.section div.more_options div { border: 1px solid #40422C; display: inline-block; height: 25px; margin: 0px 5px 5px 0px; overflow: hidden; padding: 0px; width: 125px; vertical-align: top; }
header#primary nav div.bookingengine div.section div.more_options div select { background: url(../img/bookingengine/select-arrow.png) no-repeat 110px #000; border: none; color: #ABA583; height: 20px; margin: 0px; padding: 0px; width: 150px; }
header#primary nav div.bookingengine div.section div.more_options input[type="text"].option { border: none; height: 20px; width: 125px; }
header#primary nav div.bookingengine div.section.reserve_button { text-align: center; }
header#primary nav div.bookingengine div.section.reserve_button img { border: none; }

/* Best Rate Promise */
header#primary nav div.bookingengine div.best_rate_promise { background-color: #E2D5B2; border-radius: 10px; color: #493F1C; left: 40px; opacity: 0; position: absolute; text-transform: none; width: 550px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
header#primary nav div.bookingengine div.best_rate_promise:after { border-color: #E2D5B2 transparent; border-style: solid; border-width: 0px 15px 15px; content: ""; display: block; left: 25px; position: absolute; top: -15px; width: 0; }
header#primary nav div.bookingengine div.best_rate_promise div.rate_section { border-right: 1px solid #493F1C; display: inline-block; height: 110px; vertical-align: top; width: 49%; }
header#primary nav div.bookingengine div.best_rate_promise div.rate_section.last { border-right: none; }
header#primary nav div.bookingengine div.best_rate_promise div.rate_section p, div.best_rate_promise div.rate_section ul { font-size: 12px; margin: 0px; padding: 10px 0px 0px 10px; }
header#primary nav div.bookingengine div.best_rate_promise div.rate_section ul { padding: 10px 0px 0px 25px; }
header#primary nav div.bookingengine div.best_rate_promise div.learn_more { padding: 5px 0px 0px 0px; text-align: center; width: 100%; }
header#primary nav div.bookingengine div.best_rate_promise div.learn_more img { border: 0; }

/* jQuery UI DatePicker Overrides */
div.ui-datepicker { border: 1px solid #ABA583; font-size:10px; z-index: 40 !important; }
header#primary nav div.bookingengine div.section img.ui-datepicker-trigger { cursor: pointer; padding: 0px 5px; }
div.ui-datepicker td.ui-datepicker-today a.ui-state-default.ui-state-highlight { background: #40422C 50% 50% repeat-x; border: 1px solid #40422C; color: #FFF; font-weight: bold; }

/* Placeholder Text */
::-webkit-input-placeholder { color: #ABA583; }
::-moz-placeholder { color: #ABA583; } /* FireFox 19+ */
:-ms-input-placeholder { color: #ABA583; } /* IE */
input:-moz-placeholder { color: #ABA583; }
.placeholder { color: #ABA583; }