/* Highest Level Elements */
body { background-color: #E1D6B1; color: #333; margin: auto; }
header#primary, main#page_content, footer { width: 100%; }
header#primary div#header_primary, main#page_content, footer { margin: 0px auto; width: 1024px; }

/* Header Specifics */
header#primary { background-color: #333; color: #FCFCFC; text-align: center; z-index: 30; }
header#primary div#header_primary { color: #A5A370; }
header#primary div#header_primary div { display: inline-block; margin: 0px auto; width: 33%; }
header#primary nav { margin: 0px auto; padding: 10px 0px 0px 0px; width: 1024px; }
header#primary nav a:link { color: #FCFCFC; padding: 0px 20px; text-decoration: none; }

/* Main Specifics */
main#page_content { color: #614D2C; padding: 5px; z-index: 10; }
main#page_content div, main#page_content nav, main#page_content article {  }
main#page_content nav, main#page_content article { display: inline-block; vertical-align: top; }
main#page_content nav { width: 20%; }
main#page_content article { }
main#page_content article header h1 { margin: 0px; }

footer { color: #A38E6F; z-index: 30; }